@import "material-color";

$bg:   $clr-blue-grey-900;
$text: $clr-white;

html, body {
  background: $bg;
  color: $text;
}

.card-block {
  padding: 10px;

  p:last-child {
    margin-bottom: 0;
  }
}

.card {
  cursor: pointer;

  &.selected {
    background: $clr-red-600;
  }
}

.matchBox {
  padding-bottom: 10px;
}

// ----------------------

html, body {
  height: 100%;
  background: $clr-blue-grey-900;
  color: $clr-white;
}

label {
  display: block;
  text-align: center;
}

.form-control {
  border-color: $clr-grey-600;
}

.form-control,
.form-control:focus {
  background: transparent;
  color: $clr-white;
}

.btn {
  cursor: pointer;
}

.input-group-addon,
.btn-outline-secondary {
  background: transparent;
  color: $clr-white;
  border-color: $clr-grey-600;
  cursor: pointer;

  &:hover {
    background: $clr-white;
    color: $clr-blue-grey-900;
    border-color: $clr-white;
  }
}

input {
  text-align: center;

  &[type='number'] {
    font-size: 7em;
    border-radius: 0;
    border-style: none;

    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

#comm1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#comm2 {
  margin-top: -1px;
  border-top-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &:focus {
    border-top-color: #5cb3fd;
  }
}

.input-group input + input {
  margin-left: -1px;
  border-left-color: transparent;

  &:focus {
    border-left-color: #5cb3fd;
  }
}

.mx-auto {
  display: block;
}