doctype html
html
  head
    meta(charset='UTF-8')

    title Stream Tools - Settings
    
    link(rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='../node_modules/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='../css/style.css')
  body
    .container
      form#form
        .row
          .col
            .form-group
              label(for='apiKey') API Key
              input#apiKey.form-control
        .row
          .col
            .form-group
              label(for='tournament') Tournament
              input#tournament.form-control
        .row
          .col
            button#save.btn.btn-outline-success.mx-auto Save
    script(type='text/javascript' src='../node_modules/jquery/dist/jquery.js' onload='$ = jQuery = module.exports')
    script(type='text/javascript' src='../node_modules/popper.js/dist/umd/popper.js')
    script(type='text/javascript' src='../node_modules/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript' src='../js/settings.js')